.diff-btn {
	.btn {
		background: $highlight;
		border-bottom: 3px solid darken($highlight, 10%);
		margin-right: 5px;
		@media #{$xs-only} {
			margin-right: auto;
		} 
		&:hover {
			background: darken($highlight, 10%);
			border-bottom-color: darken($highlight, 20%);
		}
	}
	.dropdown-menu {
		border: none;
		box-shadow: 0 0 4px rgba(0,0,0, 0.2);
		right: 5px;
		@media #{$xs-only} {
			right: 0;
		}
	}
	.dropdown-item {
		color: $primary-dark;
		font-size: 12px;
		transition: all 0.2s;
		&:hover {
			background: $secondary-highlight;
			color: #fff;
		}
	}
	.up-pointer {
		border: solid 10px transparent;
		border-bottom-color: #fff;
		position: absolute;
		right: 14px;
		top: -18px;
	}
}
