footer {
	border-top: solid 1px $mid-tone;
	p {
		font-size: 0.75em;
		margin: 30px auto;
		a {
			color: $highlight;
			&:hover {
				color: $highlight;
				text-decoration: underline;
			}
		}
	}
}
