.header {
	background: $primary-dark;
	border-bottom: 3px solid darken($primary-dark, 10%);
	color: #fff;
	font-family: $display-font;
	padding: 8px 0;
	h1 {
		font-size: 32px;
		margin: 10px 0;
		@media #{$md-and-down} {
			font-size: 28px;
			margin: 15px 0 10px;
		}
	}
	.featured-animal {
		border-bottom: solid 3px $highlight;
		color: $highlight;
		display: inline-block;
		font-size: 1.25em;
		line-height: 0.7;
		text-transform: uppercase;
		vertical-align: -1px;
	}
	.button-group {
		font-family: $secondary-font;
		margin: 12px 0 8px;
	}
	.btn {
		font-size: 12px;
		transition: all 0.2s;
		@media #{$xs-only} {
			display: block;
			margin: 10px auto 0;
		}
		&.show-more-btn {
			background: $secondary-highlight;
			border-bottom: 3px solid darken($secondary-highlight, 10%);
			&:hover {
				background: darken($secondary-highlight, 10%);
				border-bottom-color: darken($secondary-highlight, 20%);
			}
		}
	}
}
