.lightbox {
	background: rgba(0,0,0, 0.8);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 900;
	.fake-table {
		display: table;
		height: 100%;
		width: 100%;
	}
	.fake-row {
		display: table-row;
		width: 100%;
	}
	.fake-cell {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
	.description {
		color: $text-dark;
		font-family: $secondary-font;
	}
	.lightbox-button {
		background: url(/img/button-sprite.png) 0 0 no-repeat rgba(0,0,0, 0.4);
		background-size: 132px 44px;
		border-radius: 4px;
		cursor: pointer;
		height: 44px;
		opacity: 0.7;
		position: fixed;
		transition: all 0.2s;
		width: 44px;
		z-index: 1000;
		&.prev-button,
		&.next-button {
			margin-top: -22px;
			position: absolute;
			top: 50%;
		}
		&.prev-button {
			background-position: -44px 0;
			left: 20px;
		}
		&.next-button {
			background-position: -88px 0;
			right: 20px;
		}
		&:hover {
			opacity: 1.0;
		}
		&.close-button {
			right: 10px;
			top: 10px;
		}
	}
	.loaded {
		opacity: 1;
		transition: all 0.3s;
	}
	.not-loaded {
		opacity: 0;
	}
}
