$primary-dark: #404040;
$text-dark: #222;
$dark-transparent: rgba(255,255,255, 0.6);
$primary-light: #e5e5e5;
$highlight: #f46c50;
$mid-tone: #ccc;
$secondary-highlight: #409fed;
$shadow: 0 0 4px rgba(0,0,0, 0.2);